.wildlife,
.wildlife_last {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-top: 10rem; */

    flex: 1 0 auto;
    gap: 2rem;
    padding-left: 10rem;
    padding-right: 8rem;
    width: 100%;
}

.wildlife_highlight {
    display: flex;
    gap: 4rem;
}


.heading,
.heading_secondary {
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: #ffffff;

    margin-bottom: 4rem;
}

.heading_secondary {
    font-size: 2.2rem;
    width: 60%;
    margin-bottom: 2rem;
}

.outline_text {
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 400;
}

.wildlife_text, .wildlife_picture {
    flex: 1 1 50%; /* Make both sections take 50% of the container's width */
}

.wildlife_last .wildlife_picture {
    height: 100vh;
}

.wildlife_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_p {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

.text_p p,
.text_p ul li {
    font-weight: 300;
}

.styled_list {
    width: 500px;
    list-style: circle !important;
    list-style-type: circle;
    padding-left: 20px; 
}

.styled_list li {
    list-style: circle !important;
    list-style-type: circle;
    margin-bottom: 8px;
}