.header {
    position: fixed;
    width: 1320px;
    height: auto;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.nav {
    flex: 1;
    width: 100%;
}

.leftNav {
    display: flex;
    justify-content: flex-start;
}

.rightNav {
    display: flex;
    justify-content: flex-end;
}

.centerLogo {
    flex: 0; /* Ensures the logo doesn't stretch */
    text-align: center;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;

    transition: all .3s ease-in;
}

nav ul li a:hover {
    color: #E9C46A;
}

.active {
    color: #6DA34D;
    font-weight: 700;
}